#game-container {
    background: white;  
    text-align: center;
    position: relative;
    height: auto;
    visibility: visible;
    overflow: hidden;
}

#wordDisplay {
    font-size: 2rem;
    margin: 20px 0;
    word-wrap: break-word;
}

#message {
    color: red;
    font-weight: bold;
}

#wrongLettersContainer {
    margin-top: 20px;
}

#wrongLetters {
    color: red;
}

#hangman {
    margin-top: 20px;
    font-size: 1.2rem;
    color: red;
}

.keyboard {
    margin-top: 20px;
}

.keyboard .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.keyboard .key {
    padding: 10px;
    margin: 0 5px;
    font-size: 1.2rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.keyboard .key:active {
    background-color: #bbb;
}